header {
	background: url(../../img/tigre.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 800px;
	text-transform: uppercase;
	position: relative;
	.contenido {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
	}
}

.section-1 {
	background: #CCC;
	min-height: 400px;
}
.section-2 {
	background: navy;
	min-height: 400px;
}

.mouse {
	margin: 50px auto;
	width: 100px;
.mouse-icon {
		width: 25px;
		height: 45px;
		border: 2px solid white;
		border-radius: 15px;
		cursor: pointer;
		position: relative;
		text-align: center;
		.mouse-wheel {
			height: 6px;
			margin: 2px auto 0;
			display: block;
			width: 3px;
			background-color: white;
			border-radius: 50%;
			-webkit-animation: 1.6s ease infinite wheel-up-down;
			-moz-animation: 1.6s ease infinite wheel-up-down;
			animation: 1.6s ease infinite wheel-up-down;
		}		
	}
}
@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 2px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 20px;
	    opacity: 0;
	}
}