header {
	background: url(../../img/tigre.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 800px;
	text-transform: uppercase;
	position: relative;
	.contenido {
		position: absolute;
		top: 50%;
		left: 0;
		text-align: center;
		width: 100%;
	}
}

.section-1 {
	background: #CCC;
	min-height: 400px;
}
.section-2 {
	background: navy;
	min-height: 400px;
}
