@import '../01-variables/main.less';

header {
	background: url(../../img/bg-sky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	position: relative;
	.contenido {
		color: white;
		position: absolute;
		top: 5%;
		left: 0;
		text-align: center;
		width: 100%;
		.texto {
			//background: rgba(0, 0, 0, 0.2);
			border-radius: 6px;
			margin: 0 auto;
			padding: 10px 5px;
			a {
				margin-bottom: 20px;
			}
			h1 {
				font-family: Comfortaa,cursive;
				font-size: 2.5em;
				text-transform: uppercase;
				letter-spacing: .1em;
			}
			h2 {
				font-family: Roboto,sans-serif;
				font-size: 1.2em;
				font-weight: 300;
				margin-bottom: 30px;
			}
		}
	}

}

.section-1 {
	background: @gray;
	min-height: 400px;
	.title {
		h2 {
			&:after {
				background: @dark-gray;
			}
		}
	}
}
.testimonial {
		h2:after {
			background: @dark-gray;
		}
	#owl-testimonial {
		.item {
			.header {
				h3 {
					display: block;
					font-size: 1.3em;
					margin: 10px 0 0 0;
					text-align: center;
				}
				img {
					display: block;
					height: 100px;
					margin: 0 auto;
					vertical-align: top;
					width: 100px;
				}				
			}
			.body {
				.fa-quote-left {
					color: @red;
					font-size: 2.5em;
					margin-right: 5px;
				}
			}
		}
	}
}
.section-3 {
	background-color: @light-gray-0;
	#owl-example {
		.item {
			text-align: center;
		}
	}
}
.section-4 {
	color: white;
	background: @light-blue;
	.title {
		
	}
	.body {
		.timer {
			font-size: 2em;
		}
		.timer-wrapper {
			margin-bottom: 0;
		}
		.text-timer {
			font-size: 1.3em;
			margin-top: 0;
		}
	}
}
.section-video {
	height: 300px;
	color: white;
	&#video{
	 position: relative;
	 background: rgba(0, 0, 0, 0.5)
	}
	.ytplayer-container{
	 position: absolute;
	 top: 0;
	 z-index: -1;
	}
	.table {
		display: table;
		height: 100%;
		width: 100%;
	}
	.row {
		display: table-row;
	}
	.cell {
		display: table-cell;
		vertical-align: middle;
	}
}
.section-5 {
	color: white;
	background-color: @dark-gray;
	.btn {
		width: 210px;
	}
}

.mouse {
	margin: 50px auto;
	width: 100px;
.mouse-icon {
		width: 25px;
		height: 45px;
		border: 2px solid white;
		border-radius: 15px;
		cursor: pointer;
		position: relative;
		text-align: center;
		margin: 0 auto;
		.mouse-wheel {
			height: 6px;
			margin: 2px auto 0;
			display: block;
			width: 3px;
			background-color: white;
			border-radius: 50%;
			-webkit-animation: 1.6s ease infinite wheel-up-down;
			-moz-animation: 1.6s ease infinite wheel-up-down;
			animation: 1.6s ease infinite wheel-up-down;
		}		
	}
}
footer {
	background: black;
	color: #CCC;
}