@import '../01-variables/main.less';

.btn {
	margin: 20px 10px;
}
section {
	padding: 80px 0;
	h2 {
		font-size: 1.8em;
	}
	.title {
		margin-bottom: 40px;
	}
	.body {

	}
}

header {
	.contenido {
		top: 30%;
		.texto {
			padding: 10px 5px;
			.btn {
				margin: 20px 10px;
			}
			h1 {
				font-size: 2.5em;
				margin-bottom: 30px;
				text-transform: uppercase;
			}
			h2 {
				font-size: 1.3em;
				margin-bottom: 50px;
			}
		}
	}
}

.section-video {
	height: 550px;
}

.testimonial {
	#owl-testimonial {
		.item {
			.header {
				h3 {
					display: inline-block;
					line-height: 100px;
					margin: 0 0 0 10px;
				}
				img {
					display: inline-block;
					vertical-align: top;
				}				
			}
			.body {
				.fa-quote-left {
					color: @red;
					font-size: 2.5em;
					margin-right: 15px;
				}
			}
		}
	}
}